#home {
    display: flexbox;     
    justify-content: center;
    align-items: center;
}

.shape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 4.5rem;
}
.shape__bg {
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
    position: absolute;
    object-fit: cover;
    mix-blend-mode: soft-light;
    opacity: 1;
    background-color: var(--first-color);
    border-radius:33% 67% 79% 21% / 44% 59% 41% 56%;
    
}

.shape__img {
    width: 300px;       
    height: 300px;
    align-self: center;
    position: relative;
}

@media screen and (max-width: 530px) {
    .shape__bg {
        width: 320px;
        height: 320px;
    }

    .shape__img{
        width: 280px;
        height: 280px;
    }
}

.btn-neon{
    position: absolute;
    display: inline-block;
    padding: 16px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    margin-top: 20rem;
    
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.btn-neon:hover{
    background: var(--first-color);
    box-shadow: 0 0 10px var(--first-color), 0 0 40px var(--first-color), 0 0 80px var(--first-color);
    transition-delay: 1s;
 }
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,var(--first-color));
 }
 .btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,var(--first-color));
}
 .btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,var(--first-color));
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,var(--first-color));
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}